body {
    background-color: #D7CFDA;
    text-align: center;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

#lyla {
    text-align: center;
    font-family: 'Raleway', cursive, Georgia, 'Times New Roman', Times, serif;
    font-size: 7.5em;
    color: #423347;
    width: 100%;
    margin: auto;
}

img {
    align-content: center;
    margin: auto;
    width: 75%;
    padding-top: 1%;
}

#tees {
    align-content: center;
    margin: 0;
    width: 75%;
}

h3 {
    text-align: center;
    color: #423347;
}

.navBar {
    font-size: 2em;
    width: 100%;
}

.navBar a {
    float: center;
    padding: 12px;
    color: #423347;
    text-decoration: none;
    width: 50%;
}

.navBar a:hover {
    color: white;
  }

.navBar a.active {
    color: white;
  }

.label {
    font-size: 4em;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}

#story {
    border-style: double;
    background-color: #F8F2FA;
    width: 65%;
    height: 20%;
    margin: auto;
    padding: 3%;
}

#contact {
    font-size: 2em;
    border-style: double;
    background-color: #F8F2FA;
    width: 40%;
    height: 10%;
    margin: auto;
    padding: 1%;
}

hr {
    color: #423347;
    border-style: double;
}

#logo {
    float: left;
    width: 20%;
    height: 20%;
}

#page-container {
    position: relative;
    min-height: 175vh;
  }
  
#content-wrap {
    padding-bottom: 2.5rem;
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.product {
    align-content: center;
    margin: auto;
    width: 75%;
    padding-top: 2%; 
}

.row {
    display: flex;
}

.tee {
    font-size: 1.25em;
}

input {
    width: 25%;
    padding: 12px 20px;
}

input[type="text"], input[type="email"] {
    font-family: 'Raleway', cursive, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

textarea {
    font-family: 'Raleway', cursive, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

button {
    width: 10%;
    padding: 20px;
}

button[type="Submit"] {
    font-family: 'Raleway', cursive, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

#model {
    align-content: center;
    margin-bottom: 1.5%;
    width: 50%;
    padding-top: 2%;  
}

section#carousel > figure > img {
    display: none;
    margin: 0px auto;
}

section#carousel > figure.visible > img {
    display: block;    
    position: relative;
    overflow: hidden;
    width: 30%  
}

#button {
    margin-bottom: 15%;
}