body {
    background-color: #D7CFDA;
    text-align: center;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

#lyla {
    text-align: center;
    font-family: 'Raleway', cursive, Georgia, 'Times New Roman', Times, serif;
    font-size: 7.5em;
    color: #423347;
    width: 100%;
    margin: auto;
}

img {
    align-content: center;
    margin: auto;
    width: 75%;
    padding-top: 2%;
}

#tees {
    align-content: center;
    margin: 0;
    width: 50%;
}

h3 {
    text-align: center;
    color: #423347;
}

.navBar {
    font-size: 2em;
    width: 100%;
}

.navBar a {
    float: center;
    padding: 12px;
    color: #423347;
    text-decoration: none;
    width: 50%;
}

.navBar a:hover {
    color: white;
  }

.navBar a.active {
    color: white;
  }

@media screen and (max-width: 500px) {
.navBar a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
}
}

.label {
    font-size: 4em;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}

#story {
    border-style: double;
    background-color: #F8F2FA;
    width: 65%;
    height: 20%;
    margin: auto;
    padding: 3%;
}

#contact {
    font-size: 1.5em;
    border-style: double;
    margin: auto;
    padding-left: 2%;
}

hr {
    color: #423347;
    border-style: double;
}

#logo {
    float: left;
    width: 20%;
    height: 20%;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;          
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 25%;
    padding: 5px;
  }

  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }